[Unit]
Description=Nexus Service
After=network.target

[Service]
Type=forking
LimitNOFILE=65536
LimitNPROC=8192
ExecStart=/opt/nexus/nexus-3.57.0-01/bin/nexus start
User=nexus
Group=nexus
Restart=on-abort
PermissionsStartOnly=false
TimeoutStartSec=600


[Install]
WantedBy=multi-user.target